<h1>Course Review</h1>
<h2>Under Construction</h2>
Appropriate SOF need to be shown up
 
  
<p>Please tick to confirm:<br>
<ul>
<li>I  have read the course entry requirements and have the required evidence of those to provide</li>
<li>I have read the fees and charges T&C</li>
<li>I have read the Refund Policy</li>
<li>I understand the learning requirements needed for me to undertake and successful complete the course and the assessments</li>
<li>I have received and had the grievance, complaints and appeals process explained</li>
<li>I have received a copy of the ‘Information For Prospective Learners’</li>
<li>I understand and have provided my eligibility evidence for this enrolment</li>
<li>I have been informed of the possible job outcomes available at the conclusion of this qualification</li>
<li>I understand the qualification pathways available to me.</li>
<li>Any special needs identified No.  Yes, please specify:</li>
<li>For VET FEE-Help Students Only. I have read, completed and fully understand all the information contained in the request for VET FEE-Help Assistance Form and VET FEE-Help Information Booklet 2015 provided to me by The Malka Group Pty Ltd.</li>
</ul>
</p>
<div class="row">
	<div class="col-sm-12">
		<div class="control-actions">
			<%= link_to 'Back', lln_test_path, class: 'btn btn-primary pull-left' %> 
		 	<%= link_to 'Next', ids_path, class: 'btn btn-primary pull-right' %>
		</div>
	</div>
</div>
