<h1>LLN TEST</h1>
<p>Under Construction</p>
<div class="vspace vspace-100"></div>
<div class="row">
	<div class="col-sm-12">
		<div class="control-actions">
			<%= link_to 'Back', edit_enrolment_path(current_user.enrolments.first), class: 'btn btn-primary pull-left' %> 
		 	<%= link_to 'Next', ids_path, class: 'btn btn-primary pull-right' %>
		</div>
	</div>
</div>
