<h1>Review & Submit</h1>
<p>Under Counstruction</p>
<h2>Sample Template</h2>

<p>Please review your Online Enrolment below. If they are all correct and completed, click Submit. A confirmation email will be sent to your email address within 24 hours. </p>
<h3>Summary</h3>
<div class="vspace vspace-100"></div>
<p>All declaration from the enrolment form</p>
<p><strong>What’s next?</strong><br>
Your enrolment will be reviewed and one of your Industry Consultant will be in contact with you within 48 hours to finalise the enrolment and conduct a short interview. 
Thank you for choosing TMG as your quality training provider. We are looking forward to welcoming you soon!</p>

<div class="row">
	<div class="col-sm-12">
		<div class="control-actions">
			<%= link_to 'Back', ids_path, class: 'btn btn-primary pull-left' %> 
		 	<%= link_to 'Signout', '#', class: 'btn btn-primary pull-right' %>
		</div>
	</div>
</div>