<p><strong>What’s next?</strong><br>
Your enrolment will be reviewed and one of your Industry Consultant will be in contact with you within 48 hours to finalise the enrolment and conduct a short interview. 
Thank you for choosing TMG as your quality training provider. We are looking forward to welcoming you soon!</p>
