
<p>Thank you for completing the RTO online enrolment</p>
<p><strong>What’s next?</strong><br>
Please add tmgit@tmg.edu.au to your contacts/safe list so that the confirmation email doesn't go into spam, or please check your spam if you don't receive the email in 60 minutes.
Your enrolment will be reviewed and one of our Industry Consultants will be in contact with you within 48 hours to finalise the enrolment and conduct a short interview.<br>
Thank you for choosing RTO as your quality training provider. We are looking forward to welcoming you soon!</p>

<div class="row">
	<div class="col-sm-12">
		<div class="control-actions">
		 	<%= link_to 'Signout',  destroy_user_session_path , method: "delete" , class: 'btn btn-primary pull-right' %>
		</div>
	</div>
</div>
