
<p>Thank you for completing the TMG online enrolment</p>
<p><strong>What’s next?</strong><br>
Your enrolment will be reviewed and one of our Industry Consultants will be in contact with you within 48 hours to finalise the enrolment and conduct a short interview.
Thank you for choosing TMG as your quality training provider. We are looking forward to welcoming you soon!</p>

<div class="row">
	<div class="col-sm-12">
		<div class="control-actions">
		 	<%= link_to 'Signout',  destroy_user_session_path , method: "delete" , class: 'btn btn-primary pull-right' %>
		</div>
	</div>
</div>
