<table style="font-family: Century Gothic !important;">
  <tr>
    <td>

      <%= image_tag attachments['sign-img.jpg'].url, alt: 'RTO' -%><br/>

      <p style="font-size: 10pt;"><strong>T</strong> 1300 532 766  <strong>  F</strong> (03) 9890 3358 <br />
      <strong>E</strong> tmgit@tmg.edu.au<br />
      <strong>W</strong> www.tmg.edu.au<br /><p>

      <p style="font-size: 7pt;"><span>Warning: This communication is confidential and may contain privileged information. This mail message is intended for the named recipient(s) only. Please advise RTO Pty Ltd if you have received this email message in error and delete all copies. This email message may contain information which represents the views of the sender and not necessarily those of RTO Pty Ltd. Virus protection is in place at RTO Pty Ltd, however liability for viruses or similar in any attachment remains the responsibility of the recipient. If you are the intended recipient of this email message you should not copy, disclose or distribute this email message without our authority. RTO Pty Ltd cannot guarantee this email message has not been intercepted or interfered with as it traverses the Internet.</span></p>
    </td>
  </tr>
</table>