<div class="ques">
  7. Schooling
</div>
<div class="row">
  <div class="col-sm-6">
    <%= f.text_field :highest_school_level, label: 'What is your highest completed school level?' %>
  </div>
  <div class="col-sm-6">
    <%= f.text_field :year, label: 'Year ccompleted' %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= f.text_field :secondary_school, label: 'Are you still attending secondary school?' %>
  </div>
</div>