// Place all the styles related to the enrolments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#enrolment-form {
	.ques {
		font-weight: bold;
	}

	input[type="text"], select {
		margin-bottom: 5px;
	}
	.popover-content {font-weight: normal;}
}