<% contact = 'Contact Name '+ contact %>
<div class="row">
	<div class="col-sm-6">
		<%= f.text_field :contact_name, label: contact %>
	</div>
	<div class="col-sm-6">
		<%= f.text_field :relationship %>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<%= f.text_field :home_phone %>
	</div>
	<div class="col-sm-6">
		<%= f.text_field :mobile %>
	</div>
</div>




