<div class="ques">
	5. Language cultural diversity 
</div>
<div class="row">
	<div class="col-sm-6">
		
  	<%= f.text_field :birth_country, label: 'In which country were you born?' %>
	</div>
	<div class="col-sm-6">
  	<%= f.text_field :home_language, label: 'Do you speak a language other than English at home?' %>
	</div>
	<div class="col-sm-6">
  	<%= f.text_field :english_level, label: 'How well do you speak English? ' %>
	</div>
</div>

 
 
 
 
